.footer {
    background-color: var(--black3);
    padding: 30px 0;
    color: white;
    position: relative;
}
.footer .contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.footer .contentWrapper .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.footer .contentWrapper .logo img {
    height: 30px;
}
.footer .contentWrapper .logo h1 {
    color: var(--red);
    font-size: 25px;
    font-weight: 900;
}
.footer .contentWrapper .menuItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 10px;
}
.footer .contentWrapper .menuItems .item {
    transition: all ease .5s;
    cursor: pointer;
    font-style: 12px;
}
.footer .contentWrapper .menuItems .item:hover{
    color: var(--red);
}
.footer .contentWrapper .infoText {
    font-style: 12px;
    line-height: 20px;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 10px;
}
.footer .contentWrapper .infoText img {
    height: 25px;
}
.footer .contentWrapper .socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.footer .contentWrapper .socialIcons .icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease .5s;
    color: white;
}
.footer .contentWrapper .socialIcons .icons:hover {
    box-shadow: 0 0 .625em var(--red);
    color: var(--red);
}
.footer .contentWrapper .socialIcons .icons .icon {
    width: 30px;
    height: 30px;
}