.switchingTabs {
    height: 34px;
    background-color: white;
    border-radius: 20px;
    padding: 2px;
}
.switchingTabs .tabItems {
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
}
.switchingTabs .tabItems .item {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-size: 14px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: color ease .5s;
}
.switchingTabs .tabItems .active {
    color: white;
}
.switchingTabs .tabItems .movingBg {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-image: var(--gradient);
    position: absolute;
    left: 0;
    transition: left cubic-bezier(.88, -.35, .565, 1.35) .4s;
}
